body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: black;
}

.app-container {
  padding: 20px;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 20px;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #5a0514;
  margin: 0;
}
span{
  color: #a22c42;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

@media (min-width: 768px) {
  .content-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
